{{- if .Values.solr.initialize.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: solr-{{ include "ckan.name" . }}-configset-configmap
data:
{{ (.Files.Glob "conf/solr-init/solr-configset/*").AsConfig | indent 2 }}
{{- end }}
