# Configurations relating to the Istio Ingress Gateway to deploy.
gateway:
  autoscaling:
    enabled: true
    minReplicas: 3
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80
  service:
    # Defines the type of Service to deploy
    type: LoadBalancer
    annotations:
      # Defines if an "internal" or "external" Azure load-balancer is deployed for the service.
      service.beta.kubernetes.io/azure-load-balancer-internal: "true"
      service.beta.kubernetes.io/azure-load-balancer-internal-subnet: ""
    # Specifies the IP that the LoadBalancer should use. Skipped if empty.
    loadBalancerIP: ""
    # Toggle for NodePorts when deploying many ingress gateways
    ports:
      - name: status-port
        protocol: TCP
        port: 15021
        targetPort: 15021
        nodePort: 31813
      - name: http
        protocol: TCP
        port: 80
        targetPort: 80
        nodePort: 30540
      - name: https
        protocol: TCP
        port: 443
        targetPort: 443
        nodePort: 31607

# Configures HTTPS on the ingress gateway.
https:
  # Toggles HTTPS configurations on the ingress gateway.
  enabled: true
  # The hosts to which the ingress gateway should route traffic to.
  hosts: []
  # Enables an HTTP server that redirects all traffic to an HTTPS endpoint
  httpsRedirect: true
  # Configure allowed cipher suites.
  cipherSuites:
    - ECDHE-RSA-AES256-GCM-SHA384
    - ECDHE-RSA-AES128-GCM-SHA256
  # Configures if HSTS headers should be added to all responses which do not have it.
  hsts:
    enabled: true
    # Sets the values of the header.
    # Defaults to only setting the max-age to one year.
    value: max-age=31536000
  # Configures a cert-manager Certificate for automated certificate generation.
  certificate:
    # Defines the name of the secret that will contain the certificates.
    # Will automatically be generated if left blank.
    secretName:
    # Defines list of DNS names for the certificate.
    # Note: The first entry is set as the common name.
    dnsNames: []
    # Toggles if the Azure DNS solver should be used.
    useAzureDNSSolver: true
    # Defines the type of Issuer to use.
    issuerRef:
      # Can be ClusterIssuer or Issuer.
      kind:
      # The name of the Issuer to use.
      name:
  # Configurations around RBAC for the HTTPS Gateway
  # Deploys a ClusterRole that allows Read access to the Gateway
  rbac:
    enabled: true
    # Extra labels to add to the ClusterRole
    # Can be used for ClusterRole Aggregation
    labels: {}

# Configures Telemetry on the ingress gateway.
telemetry:
  # Enable access logging for the entire mesh
  accessLogging:
    enabled: true
