# Default values for profiles-controller.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

extraEnv:
  - name: REQUEUE_TIME
    value: "5"

image:
  repository: StatCan/profiles-controller
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

vaultagent:
  enabled: false
  config: |
    "auto_auth" = {
      "method" = {
        "config" = {
          "role" = "profile-configurator"
        }
        "type" = "kubernetes"
        "mount_path" = "auth/cluster"
      }
    }
    "exit_after_auth" = false
    "pid_file" = "/home/vault/.pid"
    cache {
      "use_auto_auth_token" = "force"
    }
    listener "tcp" {
      address = "127.0.0.1:8100"
      "tls_disable" = true
    }
    "vault" = {
      "address" = "http://vault.vault-system:8200"
    }

components:
  rbac:
    # List of groups to assign support role to within a profile
    supportGroups: []

  # Note, all instances need vault mounts, but only a subset
  # may need autogenerated buckets.
  buckets:
    # comma seperated vault mounts, e.g. "minio_standard,minio_premium"
    instances: ""
