# Default values for profiles-controller.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount:
  default: 1
  buckets: 1
  blobcsi: 0
  cloudmain: 1
  gitea: 0
  giteab: 0
  s3proxy: 0
  trino: 1
  trinoschema: 1

extraEnv:
  - name: REQUEUE_TIME
    value: "5"

image:
  repository: k8scc01covidacr.azurecr.io/profiles-controller
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 14371f9f13131f459336ec0109dc5b755c89ad95

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

vaultagent:
  enabled: false
  internalAddress: "http://vault.vault-system:8200"
  config: |
    "auto_auth" = {
      "method" = {
        "config" = {
          "role" = "profile-configurator"
        }
        "type" = "kubernetes"
        "mount_path" = "auth/cluster"
      }
    }
    "exit_after_auth" = false
    "pid_file" = "/home/vault/.pid"
    cache {
      "use_auto_auth_token" = "force"
    }
    listener "tcp" {
      address = "127.0.0.1:8100"
      "tls_disable" = true
    }
    "vault" = {
      "address" = "http://vault.vault-system:8200"
    }

components:
  rbac:
    # List of groups to assign support role to within a profile
    supportGroups: []

  # Note, all instances need vault mounts, but only a subset
  # may need autogenerated buckets.
  buckets:
    # comma seperated vault mounts, e.g. "minio_standard,minio_premium"
    instances: ""

  giteaUnclassified:
    envFrom:
      - secretRef:
          name: "gitea-postgres-connection-unclassified"
    env:
    - name: GITEA_CLASSIFICATION
      value: "unclassified"
    - name: GITEA_SERVICE_URL
      value: "gitea-unclassified-http"
    - name: GITEA_URL_PREFIX
      value: "gitea-unclassified"
    - name: GITEA_SERVICE_PORT
      value: 80
    - name: GITEA_BANNER_CONFIGMAP_NAME
      value: "gitea-banner-unclassified"
    - name: GITEA_ARGOCD_NAMESPACE
      value: "profiles-argocd-system"
    - name: GITEA_ARGOCD_SOURCE_REPO_URL
      value: https://github.com/StatCan/aaw-argocd-manifests.git
    - name: GITEA_ARGOCD_SOURCE_TARGET_REVISION
      value: "aaw-dev-cc-00"
    - name: GITEA_ARGOCD_SOURCE_PATH
      value: "profiles-argocd-system/template/gitea/unclassified"
    - name: GITEA_ARGOCD_PROJECT
      value: "default"
    - name: GITEA_SOURCE_CONTROL_ENABLED_LABEL
      value: "sourcecontrol.statcan.gc.ca/enabled"
    - name: GITEA_KUBEFLOW_ROOT_URL
      value: "https://kubeflow.aaw-dev.cloud.statcan.ca"
  giteaProtectedB:
    envFrom:
      - secretRef:
          name: "gitea-postgres-connection-protected-b"
    env:
    - name: GITEA_CLASSIFICATION
      value: "protected-b"
    - name: GITEA_SERVICE_URL
      value: "gitea-protected-b-http"
    - name: GITEA_URL_PREFIX
      value: "gitea-protected-b"
    - name: GITEA_SERVICE_PORT
      value: 80
    - name: GITEA_BANNER_CONFIGMAP_NAME
      value: "gitea-banner-protected-b"
    - name: GITEA_ARGOCD_NAMESPACE
      value: "profiles-argocd-system"
    - name: GITEA_ARGOCD_SOURCE_REPO_URL
      value: https://github.com/StatCan/aaw-argocd-manifests.git
    - name: GITEA_ARGOCD_SOURCE_TARGET_REVISION
      value: "aaw-dev-cc-00"
    - name: GITEA_ARGOCD_SOURCE_PATH
      value: "profiles-argocd-system/template/gitea/protected-b"
    - name: GITEA_ARGOCD_PROJECT
      value: "default"
    - name: GITEA_SOURCE_CONTROL_ENABLED_LABEL
      value: "sourcecontrol.statcan.gc.ca/enabled"
    - name: GITEA_KUBEFLOW_ROOT_URL
      value: "https://kubeflow.aaw-dev.cloud.statcan.ca"
  blobcsi:
    config: |
          {"name": "unclassified", "classification": "unclassified", "secretRef": "aawdevcc00samgpremium/azure-blob-csi-system", "capacity": 10, "readOnly": false, "owner": "AAW"}
          {"name": "unclassified-ro", "classification": "protected-b", "secretRef": "aawdevcc00samgpremium/azure-blob-csi-system", "capacity": 10, "readOnly": true, "owner": "AAW"}
          {"name": "protected-b", "classification": "protected-b", "secretRef": "aawdevcc00samgprotb/azure-blob-csi-system", "capacity": 10, "readOnly": false, "owner": "AAW"}
    envFrom:
      - secretRef:
          name: "azure-blob-csi-fdi-unclassified"
      - secretRef:
          name: "azure-blob-csi-fdi-protected-b"
    env:
    - name: BLOB_CSI_FDI_OPA_DAEMON_TICKER_MILLIS
      value: 2000
    - name: BLOB_CSI_FDI_UNCLASS_OPA_ENDPOINT
      value: "http://minio-gateway-opa.fdi-gateway-unclassified-system.svc.cluster.local:8181/v1/data"
    - name: BLOB_CSI_FDI_UNCLASS_SPN_SECRET_NAMESPACE
      value: "azure-blob-csi-system"
    - name: BLOB_CSI_FDI_UNCLASS_PV_STORAGE_CAP
      value: 10
    - name: BLOB_CSI_FDI_UNCLASS_AZURE_STORAGE_AUTH_TYPE
      value: "spn"
    - name: BLOB_CSI_FDI_UNCLASS_AZURE_STORAGE_AAD_ENDPOINT
      value: "https://login.microsoftonline.com"
    - name: BLOB_CSI_FDI_PROTECTED_B_OPA_ENDPOINT
      value: "http://minio-gateway-opa.fdi-gateway-protected-b-system.svc.cluster.local:8181/v1/data"
    - name: BLOB_CSI_FDI_PROTECTED_B_SPN_SECRET_NAMESPACE
      value: "azure-blob-csi-system"
    - name: BLOB_CSI_FDI_PROTECTED_B_PV_STORAGE_CAP
      value: 10
    - name: BLOB_CSI_FDI_PROTECTED_B_AZURE_STORAGE_AUTH_TYPE
      value: "spn"
    - name: BLOB_CSI_FDI_PROTECTED_B_AZURE_STORAGE_AAD_ENDPOINT
      value: "https://login.microsoftonline.com"

  s3proxy:
    env:
    - name: S3PROXY_ARGOCD_NAMESPACE
      value: profiles-argocd-system
    - name: S3PROXY_ARGOCD_SOURCE_REPO_URL
      value: https://github.com/StatCan/aaw-argocd-manifests.git
    - name: S3PROXY_ARGOCD_SOURCE_TARGET_REVISION
      value: aaw-dev-cc-00
    - name: S3PROXY_ARGOCD_SOURCE_PATH
      value: profiles-argocd-system/template/s3proxy
    - name: S3PROXY_ARGOCD_PROJECT
      value: default
    - name: S3PROXY_KUBEFLOW_ROOT_URL
      value: https://kubeflow.aaw-dev.cloud.statcan.ca
    - name: S3PROXY_KUBEFLOW_PREFIX
      value: s3
  trino-schema:
    env:
    - name: TRINO_UNCLASSIFIED_SCHEMA_NAME
      value: unclassified
    - name: TRINO_PROTECTEDB_SCHEMA_NAME
      value: protb
    - name: TRINO_STORAGE_ACCOUNT_PREFIX
      value: aawdevcc00
    - name: TRINO_UNCLASSIFIED_CLUSTER_URL
      value: https://trino.aaw-dev.cloud.statcan.ca/v1/statement
    - name: TRINO_PROTECTEDB_CLUSTER_URL
      value: https://trino-protb.aaw-dev.cloud.statcan.ca/v1/statement
    - name: TRINO_UNCLASSIFIED_SA
      value: samgpremium
    - name: TRINO_PROTECTEDB_SA
      value: samgprotb
