{{- if .Values.ingress.enabled -}}
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: disclosure-vetting-pb
  namespace: org-ces-system
spec:
  gateways:
  - istio-system/disclosure-vetting
  hosts:
  - vma-agdcc.statcan.gc.ca
  http:
  - match:
    - uri:
        prefix: /
    route:
    - destination:
        host: disclosure-vetting.org-ces-system.svc.cluster.local
        port:
          number: 5000
{{- end }}
