# Default values for dotstatsuite.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Globals

nameOverride: ""
fullnameOverride: ""
managed:
  azuread:
    tokenUrl: ""
    authority: ""
    authorizationUrl: ""
    clientId: ""
    claimsMapping__email: ""
    claimsMapping__groups: ""
  database:
    server: ""
    sapassword: "test"
    password: "test"
    sa_user: "sdmxadm"
  smtp:
    username: ""
    password: "test"
    host: ""
    port: "587"
    enableSsl: "true"
    mailFrom: ""
  sdmx_log:
    azurestorageaccountname: ""
    azurestorageaccountkey: ""
  sdmx_data:
    azurestorageaccountname: ""
    azurestorageaccountkey: ""
  no_dba_scripts: "--withoutDbaScripts"
image: &image
  repository: &repository siscc/sdmxri-nsi-maapi
  pullPolicy: &pullPolicy Always
  tag: &tag master
  ## add tag version

dbup: &dbup
  image:
    repository: &repository siscc/dotstatsuite-dbup
    pullPolicy: &pullPolicy Always
    tag: &tag master

autoscaling: &autoscaling
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  appversion: "autoscaling/v2"

# Authz
# https://gitlab.com/sis-cc/.stat-suite/dotstatsuite-kube-core-rp/-/blob/master/staging/authz.yaml
authz:
  enabled: true
  replicaCount: 1

  init_database: false

  common_db: "commonDb"
  common_user: "commonUser"
  read_only_user: "readOnlyUser"

  log4net_config:
    enabled: false
    name: "authz-log4net"
    log4net_root_level: INFO
    log4net_common_level: INFO
    log4net_dataspace_level: INFO

  sdmx_logs:
    enabled: false
    logShareName: "sdmx-logs"

  ingress:
    enabled: true
    annotations:
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
      kubernetes.io/ingress.class: istio
    hosts:
      - host: authz-siscc.redpelicans.com
        paths:
          - '/*'
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  image:
    repository: siscc/dotstatsuite-core-auth-management
    pullPolicy: Always
    # Overrides the image tag whose default is the chart version.
    tag: "master"

  dbup: *dbup

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""

  podAnnotations: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  service:
    name: ""
    type: ClusterIP
    port: 8080

  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  ##
  imagePullSecrets:
    - name: registry-pull-secret

  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  autoscaling: *autoscaling
    # targetMemoryUtilizationPercentage: 80

  nodeSelector: {}

  tolerations: []

  affinity: {}

# NSI RESET
# https://gitlab.com/sis-cc/.stat-suite/dotstatsuite-kube-core-rp/-/tree/master/staging
#fdiResetCcei:
nsiReset:
  enabled: true
  replicaCount: 1

  init_database: false

  dataspace: "reset"
  reset_data_db: sdmxResetDataDb
  reset_data_user: sdmxResetDataUser
  reset_structure_db: sdmxResetStructureDb
  reset_structure_user: sdmxResetStructureUser

  authorization:
    baseUrl: "fdi-authz-dev.dev.cloud.statcan.ca"

  fetch_annotations_in_batch: "false"

  log4net_config:
    enabled: false
    name: "nsireset-log4net"
    log4net_sqlquerylogger_level: "OFF"
    log4net_root_level: INFO

  sdmx_logs:
    enabled: false
    logShareName: "sdmx-logs"

  ingress:
    enabled: true
    annotations:
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
      kubernetes.io/ingress.class: istio
    hosts:
      - host: fdi-reset-ccei.redpelicans.com
        paths:
          - '/*'
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  image: *image
  dbup: *dbup

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""

  podAnnotations: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  service:
    type: ClusterIP
    port: 8080

  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  ##
  imagePullSecrets:
    - name: registry-pull-secret

  resources:
    limits:
      cpu: 200m
      memory: 16Gi
    requests:
      cpu: 100m
      memory: 8Gi
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  autoscaling: *autoscaling
    # targetMemoryUtilizationPercentage: 80

  nodeSelector: {}

  tolerations: []

  affinity: {}

# NSI STABLE
# https://gitlab.com/sis-cc/.stat-suite/dotstatsuite-kube-core-rp/-/blob/master/staging/nsi-stable-siscc.yaml
#fdiStableCcei:
nsiStable:
  enabled: true
  replicaCount: 1

  init_database: false

  dataspace: "stable"
  stable_data_db: sdmxStableDataDb
  stable_data_user: sdmxStableDataUser
  stable_structure_db: sdmxStableStructureDb
  stable_structure_user: sdmxStableStructureUser

  authorization:
    baseUrl: "fdi-authz-dev.dev.cloud.statcan.ca"

  fetch_annotations_in_batch: "false"

  log4net_config:
    enabled: false
    name: "nsistable-log4net"
    log4net_sqlquerylogger_level: "OFF"
    log4net_root_level: INFO

  sdmx_logs:
    enabled: false
    logShareName: "sdmx-logs"

  ingress:
    enabled: true
    annotations:
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
      kubernetes.io/ingress.class: istio
    hosts:
      - host: fdi-stable-ccei.redpelicans.com
        paths:
          - '/*'
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  image: *image
  dbup: *dbup
  autoscaling: *autoscaling

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""

  podAnnotations: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  service:
    type: ClusterIP
    port: 8080

  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  ##
  imagePullSecrets:
    - name: registry-pull-secret

  resources:
    limits:
      cpu: 200m
      memory: 16Gi
    requests:
      cpu: 100m
      memory: 8Gi
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

    # targetMemoryUtilizationPercentage: 80

  nodeSelector: {}

  tolerations: []

  affinity: {}

# NSI DESIGN
# https://gitlab.com/sis-cc/.stat-suite/dotstatsuite-kube-core-rp/-/blob/master/staging/nsi-design-oecd.yaml
nsiDesign:
  enabled: true
  replicaCount: 1

  init_database: false

  dataspace: "design"
  design_data_db: sdmxDesignDataDb
  design_data_user: sdmxDesignDataUser
  design_structure_db: sdmxDesignStructureDb
  design_structure_user: sdmxDesignStructureUser

  authorization:
    baseUrl: "fdi-authz-dev.dev.cloud.statcan.ca"

  fetch_annotations_in_batch: "false"

  log4net_config:
    enabled: false
    name: "nsidesign-log4net"
    log4net_sqlquerylogger_level: "OFF"
    log4net_root_level: INFO

  sdmx_logs:
    enabled: false
    logShareName: "sdmx-logs"

  ingress:
    enabled: true
    annotations:
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
      kubernetes.io/ingress.class: istio
    hosts:
      - host: fdi-design-ccei.redpelicans.com
        paths:
          - '/*'
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  image: *image
  dbup: *dbup

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""

  podAnnotations: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  service:
    type: ClusterIP
    port: 8080

  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  ##
  imagePullSecrets:
    - name: registry-pull-secret

  resources:
    limits:
      cpu: 200m
      memory: 16Gi
    requests:
      cpu: 100m
      memory: 8Gi
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  autoscaling: *autoscaling
    # targetMemoryUtilizationPercentage: 80

  nodeSelector: {}

  tolerations: []

  affinity: {}

# NSI STAGING
# https://gitlab.com/sis-cc/.stat-suite/dotstatsuite-kube-core-rp/-/blob/master/staging/nsi-staging-oecd.yaml

nsiStaging:
  enabled: true
  replicaCount: 1

  init_database: false

  dataspace: "staging"
  staging_data_db: sdmxStagingDataDb
  staging_data_user: sdmxStagingDataUser
  staging_structure_db: sdmxStagingStructureDb
  staging_structure_user: sdmxStagingStructureUser

  authorization:
    baseUrl: "fdi-authz-dev.dev.cloud.statcan.ca"

  fetch_annotations_in_batch: "false"

  log4net_config:
    enabled: false
    name: "nsistaging-log4net"
    log4net_sqlquerylogger_level: "OFF"
    log4net_root_level: INFO

  sdmx_logs:
    enabled: false
    logShareName: "sdmx-logs"

  ingress:
    enabled: true
    annotations:
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
      kubernetes.io/ingress.class: istio
    hosts:
      - host: fdi-staging-ccei.redpelicans.com
        paths:
          - '/*'
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  image: *image
  dbup: *dbup

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""

  podAnnotations: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  service:
    type: ClusterIP
    port: 8080

  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  ##
  imagePullSecrets:
    - name: registry-pull-secret

  resources:
    limits:
      cpu: 200m
      memory: 16Gi
    requests:
      cpu: 100m
      memory: 8Gi
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  autoscaling: *autoscaling
    # targetMemoryUtilizationPercentage: 80

  nodeSelector: {}

  tolerations: []

  affinity: {}


# Transfer
# https://gitlab.k8s.cloud.statcan.ca/analytics-platform/discovery/dotstatsuite-docker-compose

transfer:
  enabled: true
  replicaCount: 1

  init_database: false

  dataImportTimeOutInMinutes: 4800
  databaseCommandTimeoutInSec: 14400
  autoLog2DB: "true"
  autoLog2DBLogLevel: "Notice"
 
  excel_config:
    excelFeaturesEnabled: "true" ##Its enabled by default in transfer service code json config, along with licens. in case to disable

  log4net_config:
    enabled: false
    name: "transfer-log4net"
    log4net_sqlquerylogger_level: "OFF"
    log4net_root_level: INFO
  data_loading_on_server:
    enabled: false
    path:
  sdmx_logs:
    enabled: false
    logShareName: "sdmx-logs"

  ingress:
    enabled: true
    annotations:
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
      kubernetes.io/ingress.class: istio
    hosts:
      - host: fdi-transfer-sdmx.redpelicans.com
        paths:
          - '/*'
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  image:
    repository: siscc/dotstatsuite-core-transfer
    pullPolicy: Always
    # Overrides the image tag whose default is the chart version.
    tag: "master"

  dbup: *dbup

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""

  podAnnotations: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  service:
    type: ClusterIP
    port: 8080

  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  ##
  imagePullSecrets:
    - name: registry-pull-secret

  resources:
    limits:
      cpu: 200m
      memory: 16Gi
    requests:
      cpu: 100m
      memory: 8Gi
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  autoscaling: *autoscaling
    # targetMemoryUtilizationPercentage: 80

  nodeSelector: {}

  tolerations: []

  affinity: {}

# MSSQL for Linux
# https://github.com/helm/charts/tree/master/stable/mssql-linux
mssql-linux:
  enabled: false

  annotations:
    sidecar.istio.io/inject: "false"
  acceptEula:
    value: "y"
  edition:
    value: Express
  collation: SQL_Latin1_General_CP1_CI_AS
  lcid: 1033
  hadr: 0
  # Override sapassword in templates/secret.yaml
  sapassword: ""
  image:
    repository: microsoft/mssql-server-linux
    tag: 2017-CU11
    pullPolicy: IfNotPresent
  service:
    name: ""
    type: ClusterIP
    port: 1433
    # annotations:
    #   service.beta.kubernetes.io/azure-load-balancer-internal: "true"
  persistence:
    enabled: true
    # existingDataClaim:
    # existingTransactionLogClaim:
    # existingBackupClaim:
    # existingMasterClaim:
    storageClass: ""
    dataAccessMode: ReadWriteOnce
    dataSize: 10Gi
    transactionLogAccessMode: ReadWriteOnce
    transactionLogSize: 10Gi
    backupAccessMode: ReadWriteOnce
    backupSize: 1Gi
    masterAccessMode: ReadWriteOnce
    masterSize: 1Gi
  livenessprobe:
    initialDelaySeconds: 15
    periodSeconds: 20
  readinessprobe:
    initialDelaySeconds: 5
    periodSeconds: 10
  resources: {}
    # limits:
    #  cpu: 100m
    #  memory: 2Gi
    # requests:
    #  cpu: 100m
    #  memory: 2Gi
  nodeSelector:
    beta.kubernetes.io/os: linux

# Destination Rule
# https://gitlab.k8s.cloud.statcan.ca/analytics-platform/discovery/dotstatsuite-docker-compose
destinationRule:
  enabled: false
  mode: DISABLE
