apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.name }}
  labels:
    app: fluentd
    kubernetes.io/cluster-service: "true"
data:
  fluent.conf: |
    <filter **>
      @type record_transformer
      <record>
        cluster {{ .Values.clusterName }}
      </record>
    </filter>

    <match **>
      @type elasticsearch
      hosts https://{{ .Values.elasticSearchUrl }}
      ssl_version TLSv1_2
      user {{ .Values.elasticSearchUsername }}
      password {{ .Values.elasticSearchPassword }}
      include_timestamp true
      index_name "k8s-logs-%Y.%m.%d"
      
      <buffer tag, time>
        @type memory
        timekey 60
        timekey_wait 0
      </buffer>
    </match>
