# Default values for argocd-operator.

operator:
  clusterDomain: ""
  nsToWatch: "argo-cd-system"
  nsClusterConfig: ""
  image:
    repository: quay.io/argoprojlabs/argocd-operator
    tag: v0.4.0
    pullPolicy: IfNotPresent
  imagePullSecrets: []
  podAnnotations: {}
  podLabels: {}
  # extraEnv: []
  replicaCount: 1
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    fsGroup: 1000
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
      ephemeral-storage: 500Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}
